/*
.container {
  background-image: url('../../../public/iphone-background.png') fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

@media (max-width: 768px){
  .container{
    background-image: url('../../../public/iphone-background.png');
  }
  
}*/